.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.primary__button {
  width: 257px;
  height: 57px;
  background: #fb2e86;
  border-radius: 2px;
}
