.blog-page__item{
    &__info{
        &__author{
            i{
                color:var(--pink);
                font-size: 13px;
            }
            p{
                font-size:14px;
                background:#FFE7F9;
                padding:4px 30px;
            }
        }
        &__time{
            i{
                color:#FFA454;
            }
            p{
                font-size:14px;
                background:#FFECE2;
                padding:4px 30px;
            }
        }
    }
    &__title {
        font-size:29px;
        color:var(--black);
    }
    &__exept {
        color:var(--black);
        line-height:1.3;
        font-weight: 300;
    }
    &__read-more{ 
        button {
        border:none;
        background: var(--pink);
        color:#fff;
        padding:10px;
        border-radius:4px;
        cursor:pointer;
        transition: var(--global-transition);
        &:hover {
            background:#fff;
            color:var(--pink);
        }
    }
    }
}
.blog-sidebar{
    &__title{ 
        h3{
            font-size:20px;
        }
    }
    &__search{
        &__input{
            position: relative;
            display: inline;
            input{
                border: 1px solid #BDBDD8;
                width: 270px;
                height: 40px;
                border-radius:4px;
                padding-left:10px;
                &::placeholder{
                    color:#BDBDD8;
                }
            }
            i{
                position:absolute;
                right:20px;
                top:50%;
                font-size:20px;
                transform: translateY(-50%);
                color: var(--text-grey)
            }
        }
    }
    &__categories{
        &__list{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 15px;
        }
        &__item {
            font-size: 14px;
            font-weight: 300;
            color: var(--off_navi_blue);
            cursor: pointer;
            p{
                padding:5px 5px;
            }
        }
        &__item.active p {
            color:#fff;
            display:inline;
            background:var(--pink);
            border-radius:3px;
        }
    }
    &__recent{
        &__item {
            display:grid;
            grid-template-columns: 1fr 1.3fr;
            grid-column-gap: 20px;
            margin-bottom: 35px;
            cursor: pointer;
            img{
                border-radius:3px;
            }
            h4 {
                padding:5px 0px 5px 0px;
                font-size:14px;
                color:var(--off_navi_blue);
                transition: var(--global-transition);
                &:hover {
                    color:var(--pink);
                }
            }
            p {
                font-size:13px;
                color:var(--text-grey);
                transition: var(--global-transition);
              }
            }
        }
    &__offer{
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            img{
                height:130px;
                width:100%;
                cursor:pointer;
                object-fit:cover;
            }
        }
        &__item{
            h4{
                padding:10px 0px 5px 0px;
                color:var(--black);
                text-align:center;
                cursor:pointer;
            }
            p {
                color:var(--text-grey);
                font-size:14px;
                text-align:center;
            }
        }
    }
    &__follow 
    {
        i {
            font-size: 20px;
            margin-right: 20px;
        }
    }
    &__tags__list {
        display: flex;
        flex-wrap: wrap;
        p{
            font-size:14px;
            margin-bottom:20px;
            font-weight:300;
            margin-right:50px;
        }
    }
}

.blog-page {
    padding: 50px 0px;
}

.product-single{
    &__related{
        h1 {
            margin: 50px 0px 29px 0px;
            font-size: 36px;
            font-weight: bold;
        }
        &__card{
            a{
                &:hover{
                    color:var(--pink);
                    
                }
            }
            &__detail{
                display:flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-top: 15px;
                & > div{
                    h3{
                        margin-bottom:7px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.blog-content
{    
    &__next-prev {
        background: #F7F8FB;
        color: #8A8FB9;
        font-weight: 400;
        font-size: 14px;
        padding: 10px 14px;
        cursor: pointer;
    }
    &__related__item{
        cursor: pointer;
        box-shadow: 0px 0px 17.0038px rgba(0, 0, 0, 0.25);
        padding:30px 0px;
        margin-bottom:30px;
        img{
            width: 20%;
            height:80px;
            object-fit:cover;
        }
        h3{
            color:var(--black);
            font-size:20px;
            margin:10px 0px;
            span{
                font-size:14px;
                margin-left:20px;
                color:var(--text-grey);
            }
        }
        p{
            color: var(--black);
            font-weight:300;
        }
    }

}

