<div class="calculate-shipping">
    <h1>Calculate Shipping</h1>
    <div class="calculate-shipping__form">
        <div class="calculate-shipping__input">
            <input placeholder="Country"/>
        </div>
        <div class="calculate-shipping__input">
            <input placeholder="City"/>
        </div>
        <div class="calculate-shipping__input">
            <input placeholder="Postal Code"/>
        </div>
        <div class="calculate-shipping__button">
            <button>Calculate Shipping</button>
        </div>
    </div>
</div>