<div class="cart-totals">
    <h1>Cart Totals</h1>
    <div class="cart-totals__table">
        <div class="cart-totals__row d-flex justify-content-between">
            <p>Subtotals:</p>
            <p>$219.00</p>
        </div>
        <div class="cart-totals__row d-flex justify-content-between">
            <p>Totals:</p>
            <p>$329.00</p>
        </div>
        <div class="cart-totals__des d-flex ">
            <i class="fas fa-check-circle"></i>
            <p>Shipping & taxes calculated at checkout</p>
        </div>
        <div class="cart-totals__button d-flex justify-content-center">
        <button>
            Processed To Checkout
        </button>
        </div>
    </div>
</div>