<div class="cart-items">
    <div class="d-flex cart-items__header">
        <p style="width: 40%;">Product</p>
        <p style="width: 20%; text-align: right;">Price</p>
        <p style="width: 20%; text-align: right;">Quantity</p>
        <p style="width: 20%; text-align: right;">Total</p>
    </div>
    <div class="cart-items__list">
        <div class="cart-items__item d-flex">
            <div class="cart-items__product d-flex"  style="width: 40%;" >
                <img src="/images/shopping-cart/cart-1.jpg" class="img-fluid"/>
                <div>
                    <p>Christian Dior Boots</p>
                    <span>Color: White</span>
                    <span>Size: 42</span>
                </div>
            </div>
            <div class="cart-items__price justify-content-end d-flex align-items-center" style="width: 20%;">
                <p>$32.00</p>
            </div>
            <div class="cart-items__quantity justify-content-end d-flex align-items-center"  style="width: 20%;">
                <div>
                    <button>-</button>
                    <p>2</p>
                    <button>+</button>
                </div>
            </div>
            <div class="cart-items__total justify-content-end d-flex align-items-center" style="width: 20%;">
                <p>$64.00</p>
            </div>
        </div> <!--End item-->
        <div class="cart-items__item d-flex">
            <div class="cart-items__product d-flex"  style="width: 40%;" >
                <img src="/images/shopping-cart/cart-4.jpeg" class="img-fluid"/>
                <div>
                    <p>Christian Dior Boots</p>
                    <span>Color: White</span>
                    <span>Size: 42</span>
                </div>
            </div>
            <div class="cart-items__price justify-content-end d-flex align-items-center" style="width: 20%;">
                <p>$32.00</p>
            </div>
            <div class="cart-items__quantity justify-content-end d-flex align-items-center"  style="width: 20%;">
                <div>
                    <button>-</button>
                    <p>2</p>
                    <button>+</button>
                </div>
            </div>
            <div class="cart-items__total justify-content-end d-flex align-items-center" style="width: 20%;">
                <p>$64.00</p>
            </div>
        </div> <!--End item-->
        <div class="cart-items__item d-flex">
            <div class="cart-items__product d-flex"  style="width: 40%;" >
                <img src="/images/shopping-cart/cart-5.jpeg" class="img-fluid"/>
                <div>
                    <p>Christian Dior Boots</p>
                    <span>Color: White</span>
                    <span>Size: 42</span>
                </div>
            </div>
            <div class="cart-items__price justify-content-end d-flex align-items-center" style="width: 20%;">
                <p>$32.00</p>
            </div>
            <div class="cart-items__quantity justify-content-end d-flex align-items-center"  style="width: 20%;">
                <div>
                    <button>-</button>
                    <p>2</p>
                    <button>+</button>
                </div>
            </div>
            <div class="cart-items__total justify-content-end d-flex align-items-center" style="width: 20%;">
                <p>$64.00</p>
            </div>
        </div> <!--End item-->
        <div class="cart-items__item d-flex">
            <div class="cart-items__product d-flex"  style="width: 40%;" >
                <img src="/images/shopping-cart/cart-2.jpeg" class="img-fluid"/>
                <div>
                    <p>Christian Dior Boots</p>
                    <span>Color: White</span>
                    <span>Size: 42</span>
                </div>
            </div>
            <div class="cart-items__price justify-content-end d-flex align-items-center" style="width: 20%;">
                <p>$32.00</p>
            </div>
            <div class="cart-items__quantity justify-content-end d-flex align-items-center"  style="width: 20%;">
                <div>
                    <button>-</button>
                    <p>2</p>
                    <button>+</button>
                </div>
            </div>
            <div class="cart-items__total justify-content-end d-flex align-items-center" style="width: 20%;">
                <p>$64.00</p>
            </div>
        </div> <!--End item-->
    </div>
    <div class="cart-items__buttons d-flex justify-content-between">
        <button>Update Cart</button>
        <button>Clear Cart</button>
    </div>
</div>