<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}
  ${require('../layouts/include/include-slick-css.html')}

</head>

<body>
  <!-- Them header -->
  ${require('../layouts/header.html')}
  <!-- Breadcumb -->
  ${require('../layouts/about-us/breadcrumb.html')}
  <!--Contact us-->
  ${require('../layouts/about-us/contact.html')}
  <!--Features-->
  ${require('../layouts/about-us/our-features.html')}
  <!--Client Say-->
  ${require('../layouts/about-us/client-say.html')}

  ${require('../layouts/before-footer.html')}

  ${require('../layouts/footer.html')}

  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/include-slick-js.html')}

</body>

</html>
