<!DOCTYPE html>
<html lang="en">

<head>
  <title>404</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}
  ${require('../layouts/include/include-slick-css.html')}

</head>

<body>
  <!-- Them header -->
  ${require('../layouts/header.html')}

  <!-- Breadcumb -->
  ${require('../layouts/faq/breadcrumb.html')}
  <div class="product-single">
  <!--Related product-->
  ${require('../layouts/faq/faq.html')}
  </div>

  ${require('../layouts/before-footer.html')}

  ${require('../layouts/footer.html')}

  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/include-slick-js.html')}

</body>

</html>
