<!DOCTYPE html>
<html lang="en">

<head>
  <title>lol</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}
  ${require('../layouts/include/include-slick-css.html')}

</head>

<body>
  <!-- Them header -->
  ${require('../layouts/header.html')}
  <div class="container-fluid">
    <p>test style</p>
    <div class="row">
      <div class="col-md-12">
        <img src="images/promotional.png" class="img-fluid"/>  
      </div>
    </div>
  </div>

  ${require('../layouts/footer.html')}

  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/include-slick-js.html')}

</body>

</html>
