@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');
:root {
    /* Cach dung: 
    * color: var(--pink);
    */
    --pink: #FB2E86;
    --light_pink: #F6F5FF;
    --off_navi_blue: #3F509E;
    --navi_blue: #151875;
    --purple: #7E33E0;
    --pantone_purple: #E0D3F5;
    --red: #FB2448;
    --blue: #2F1AC4;
    --off_blue: #151875;
    --sky_blue: rgba(243, 249, 255, 1);
    --black: rgba(16, 23, 80, 1);
    --text-grey: #A9ACC6;
    --fb-icon-color:#4c6ff5;
    --background-grey: #F9F8FE;
    /* Cach dung: 
    * font-family: var(--primary-font);
    */
    --primary-font: 'Josefin Sans', sans-serif;
    --secondary-font: 'Lato', sans-serif;

    --global-transition: .3s all;
  }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  color: var(--back);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: var(--primary-font);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
