<link rel="stylesheet" type="text/css" href="css/404.css">
<div class="container not-found-page">
	<div class="row justify-content-center">
        <div class="main">
            <div class="preview-image mt-110">
                <img src="images/404/404.png" alt="">
                <p class="content mt-40">oops! The page you requested was not found!</p>
                <div class="w-100 text-center mt-60 mb-130">
                    <button type="submit" class="btn btn-submit">Back To Home</button>
                </div>
            </div>
        </div>
	</div>
</div>