<link rel="stylesheet" type="text/css" href="../css/footer.css" />

<div class="footer">
  <div class="footer-top container wide">
      <div class="row">
          <div class="col-5">
              <div class="footer-item">
                  <div class="logo">
                      <a href="#">Hekto</a>
                  </div>
                  <div class="sign-up-tool align-flex-center">
                      <input type="email" placeholder="Enter Email Address">
                      <div class="sign-up-btn align-flex-center">Sign Up</div>
                  </div>
                  <div class="contact-info">
                      <span>Contact Info</span>
                      <br>
                      <span>17 Princess Road, London, Greater London NW1 8JR, UK</span>
                  </div>
              </div>
          </div>
          <div class="col-7">
              <div class="row">
                  <div class="col-4">
                      <div class="footer-item">
                          <h3 class="heading">Catagories</h3>
                          <ul class="list">
                              <li class="item">
                                  <a href="#">Laptops & Computers</a>
                              </li>
                              <li class="item">
                                  <a href="#">Cameras & Photography</a>
                              </li>
                              <li class="item">
                                  <a href="#">Smart Phones & Tablets</a>
                              </li>
                              <li class="item">
                                  <a href="#">Video Games & Consoles</a>
                              </li>
                              <li class="item">
                                  <a href="#">Waterproof Headphones</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="footer-item">
                          <h3 class="heading">Customer Care</h3>
                          <ul class="list">
                              <li class="item">
                                  <a href="#">My Account</a>
                              </li>
                              <li class="item">
                                  <a href="#">Discount</a>
                              </li>
                              <li class="item">
                                  <a href="#">Returns</a>
                              </li>
                              <li class="item">
                                  <a href="#">Orders History</a>
                              </li>
                              <li class="item">
                                  <a href="#">Order Tracking</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="footer-item">
                          <h3 class="heading">Pages</h3>
                          <ul class="list">
                              <li class="item">
                                  <a href="#">Blog</a>
                              </li>
                              <li class="item">
                                  <a href="#">Browse the Shop</a>
                              </li>
                              <li class="item">
                                  <a href="#">Category</a>
                              </li>
                              <li class="item">
                                  <a href="#">Pre-Built Pages</a>
                              </li>
                              <li class="item">
                                  <a href="#">Visual Composer Elements</a>
                              </li>
                              <li class="item">
                                  <a href="#">WooCommerce Pages</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom align-flex-sb">
      <span class="copyright">©Webecy - All Rights Reserved</span>
      <div class="social-media">
          <a href="#" class="align-flex-center"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="align-flex-center"><i class="fab fa-instagram"></i></a>
          <a href="#" class="align-flex-center"><i class="fab fa-twitter"></i></a>
      </div>
  </div>
</div>