<div class="client-say">
    <div class="container">
        <h2>Our Client Say!</h2>
        <div class="client-say__slides">
            <div class="client-say__item">
                <img src="/images/about/about-7.png" class="img-fluid"/>
                <p class="client-say__name">Elon Musk</p>
                <p class="client-say__title">
                    Ceo At Tesla
                </p>
                <p class="client-say__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non duis ultrices quam vel dui sollicitudin aliquet id arcu. Nam vitae a enim nunc, sed sapien egestas ac nam. Tristique ultrices dolor aliquam lacus volutpat praesent.</p>
            </div>
            <div class="client-say__item">
                <img src="/images/about/about-6.png" class="img-fluid"/>
                <p class="client-say__name">Elon Musk</p>
                <p class="client-say__title">
                    Ceo At Tesla
                </p>
                <p class="client-say__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non duis ultrices quam vel dui sollicitudin aliquet id arcu. Nam vitae a enim nunc, sed sapien egestas ac nam. Tristique ultrices dolor aliquam lacus volutpat praesent.</p>
            </div>
            <div class="client-say__item">
                <img src="/images/about/about-6.png" class="img-fluid"/>
                <p class="client-say__name">Elon Musk</p>
                <p class="client-say__title">
                    Ceo At Tesla
                </p>
                <p class="client-say__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non duis ultrices quam vel dui sollicitudin aliquet id arcu. Nam vitae a enim nunc, sed sapien egestas ac nam. Tristique ultrices dolor aliquam lacus volutpat praesent.</p>
            </div>
        </div>
    </div>
</div>