<div class="about-contact container mt-5 mb-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img src="/images/about/about-1.png" class="img-fluid"/>
        </div>
        <div class="col-md-5">
            <h3>
                Know About Our Ecomerce Business, History
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque ultrices mattis aliquam, malesuada diam est. Malesuada sem tristique amet erat vitae eget dolor lobortis. Accumsan faucibus vitae lobortis quis bibendum quam.</p>
            <button>Contact Us</button>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>