<div class="container about-features">
    <h2>Our Features</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="about-features__icon">
                <img src="/images/about/about-2.png" class="img-fluid"/>
            </div>
            <div class="about-features__title">
                <h4>Free Delivery</h4>
            </div>
            <div class="about-features__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="about-features__icon">
                <img src="/images/about/about-3.png" class="img-fluid"/>
            </div>
            <div class="about-features__title">
                <h4>Free Delivery</h4>
            </div>
            <div class="about-features__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="about-features__icon">
                <img src="/images/about/about-4.png" class="img-fluid"/>
            </div>
            <div class="about-features__title">
                <h4>Free Delivery</h4>
            </div>
            <div class="about-features__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="about-features__icon">
                <img src="/images/about/about-5.png" class="img-fluid"/>
            </div>
            <div class="about-features__title">
                <h4>Free Delivery</h4>
            </div>
            <div class="about-features__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.</p>
            </div>
        </div>
    </div>
</div>