<div class="blog-content">
    <div class="blog-content__thumbnail mb-4">
        <img src="/images/blog/blog-1.png" class="img-fluid" />
    </div> 
    <!-- End thumbnail -->
    <div class="blog-page__item__info mb-4">
        <div class="d-flex">
            <div class="blog-page__item__info__author d-flex justify-content-center align-items-center mr-5">
                <i class="fas fa-pencil-alt mr-2"></i>
                <p>Elon Musk</p>
            </div>
            <div class="blog-page__item__info__time d-flex align-items-center justify-content-center">
                <i class="fas fa-calendar-alt mr-2"></i>
                <p>Aug 09 2021</p>
            </div>
        </div>
    </div>
    <div class="blog-page__item__title mb-4">
        <h1>Mauris at orci non vulputate diam tincidunt nec.</h1>
    </div>
    <div class="blog-page__item__exept mb-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit facilisis quis auctor pretium ipsum, eu rutrum. Condimentum eu malesuada vitae ultrices in in neque, porta dignissim. Adipiscing purus, cursus vulputate id id dictum at.</p>
    </div>
    <div class="blog-page__item__exept mb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit dapibus est, nunc, montes, lacus consequat integer viverra. Sit morbi etiam quam rhoncus. Velit in arcu platea donec vitae ante posuere malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit dapibus est, nunc, montes, lacus consequat integer viverra. Sit morbi etiam quam rhoncus. Velit in arcu platea donec vitae ante posuere malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit dapibus est, nunc, 
    </div>
    <div class="blog-content__images d-flex mb-4">
        <div class="mr-3">
            <img src="/images/blog/blog-2.png" class="img-fluid" />
        </div>
        <div class="ml-3">
            <img src="/images/blog/blog-3.png" class="img-fluid" />
        </div>
    </div>
    <div class="blog-page__item__exept mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit dapibus est, nunc, montes, lacus consequat integer viverra. Sit morbi etiam quam rhoncus. Velit in arcu platea donec vitae ante posuere malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit dapibus est, nunc, montes, lacus consequat integer viverra. Sit morbi etiam quam rhoncus. Velit in arcu platea donec vitae ante posuere malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit dapibus est, nunc, 
    </div>
    <!--Related product-->
    ${require('../product_single_layout/related_product.html')}
    <div class="blog-content__next-prev d-flex justify-content-between mt-4">
        <div class="blog-content__prev">
            <i class="fas fa-arrow-left"></i>
            Previous Post
        </div>
        <div class="blog-content__next">
            <i class="fas fa-arrow-right"></i>
            Next Post
        </div>
    </div>
    <!--Next Prev Button-->
    <div class="blog-content__related mt-5" >
        <div class="blog-content__related__item d-flex">
            <img src="/images/blog/blog-4.jpeg" class="img-fluid mr-4"/>
            <div>
                <h3>Sapien ac <span>Jan 09 2020</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At in vitae rutrum vulputate consectetur.</p>
            </div>
        </div>
        <div class="blog-content__related__item d-flex">
            <img src="/images/blog/blog-8.jpg" class="img-fluid mr-4"/>
            <div>
                <h3>Sapien ac <span>Jan 09 2020</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At in vitae rutrum vulputate consectetur.</p>
            </div>
        </div>
    </div>
</div>