<div class="blog-page__list">
    <div class="blog-page__item mb-4">
        <div class="blog-page__item__image mb-4">
            <img src="/images/blog/blog-1.png" class="img-fluid"/>
        </div>
        <div class="blog-page__item__info mb-4">
            <div class="d-flex">
                <div class="blog-page__item__info__author d-flex justify-content-center align-items-center mr-5">
                    <i class="fas fa-pencil-alt mr-2"></i>
                    <p>Elon Musk</p>
                </div>
                <div class="blog-page__item__info__time d-flex align-items-center justify-content-center">
                    <i class="fas fa-calendar-alt mr-2"></i>
                    <p>Aug 09 2021</p>
                </div>
            </div>
        </div>
        <div class="blog-page__item__title mb-4">
            <h1>Mauris at orci non vulputate diam tincidunt nec.</h1>
        </div>
        <div class="blog-page__item__exept mb-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit facilisis quis auctor pretium ipsum, eu rutrum. Condimentum eu malesuada vitae ultrices in in neque, porta dignissim. Adipiscing purus, cursus vulputate id id dictum at.</p>
        </div>
        <div class="blog-page__item__read-more">
            <button>Read more</button>
        </div>
    </div> <!--End item-->
    <div class="blog-page__item mb-4">
        <div class="blog-page__item__image mb-4">
            <img src="/images/blog/blog-2.png" class="img-fluid"/>
        </div>
        <div class="blog-page__item__info mb-4">
            <div class="d-flex">
                <div class="blog-page__item__info__author d-flex justify-content-center align-items-center mr-5">
                    <i class="fas fa-pencil-alt mr-2"></i>
                    <p>Elon Musk</p>
                </div>
                <div class="blog-page__item__info__time d-flex align-items-center justify-content-center">
                    <i class="fas fa-calendar-alt mr-2"></i>
                    <p>Aug 09 2021</p>
                </div>
            </div>
        </div>
        <div class="blog-page__item__title mb-4">
            <h1>Mauris at orci non vulputate diam tincidunt nec.</h1>
        </div>
        <div class="blog-page__item__exept mb-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit facilisis quis auctor pretium ipsum, eu rutrum. Condimentum eu malesuada vitae ultrices in in neque, porta dignissim. Adipiscing purus, cursus vulputate id id dictum at.</p>
        </div>
        <div class="blog-page__item__read-more">
            <button>Read more</button>
        </div>
    </div> <!--End item-->
    <div class="blog-page__item mb-4">
        <div class="blog-page__item__image mb-4">
            <img src="/images/blog/blog-3.png" class="img-fluid"/>
        </div>
        <div class="blog-page__item__info mb-4">
            <div class="d-flex">
                <div class="blog-page__item__info__author d-flex justify-content-center align-items-center mr-5">
                    <i class="fas fa-pencil-alt mr-2"></i>
                    <p>Elon Musk</p>
                </div>
                <div class="blog-page__item__info__time d-flex align-items-center justify-content-center">
                    <i class="fas fa-calendar-alt mr-2"></i>
                    <p>Aug 09 2021</p>
                </div>
            </div>
        </div>
        <div class="blog-page__item__title mb-4">
            <h1>Mauris at orci non vulputate diam tincidunt nec.</h1>
        </div>
        <div class="blog-page__item__exept mb-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit facilisis quis auctor pretium ipsum, eu rutrum. Condimentum eu malesuada vitae ultrices in in neque, porta dignissim. Adipiscing purus, cursus vulputate id id dictum at.</p>
        </div>
        <div class="blog-page__item__read-more">
            <button>Read more</button>
        </div>
    </div> <!--End item-->
   
</div>