<div class="product-single__detail">
    <div class="container product-single__detail__wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="product-single__gallery">
                    <div class="product-single__gallery__image image-area-a">
                        <img src="images/product-detail/product-small1.png" />
                    </div>
                    <div class="product-single__gallery__image image-area-b">
                        <img src="images/product-detail/product-small2.png" />
                    </div>
                    <div class="product-single__gallery__image image-area-c">
                        <img src="images/product-detail/product-small3.png" />
                    </div>
                    <div class="product-single__gallery__image image-area-d">
                        <img src="images/product-detail/product-big.png" />
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="product-single__info">
                <h1 class="product-single__info__name">  
                    PlyWood Arm Chair
                </h1>
                <div class="product-single__info__rating">
                    <img src="images/product-detail/rating-star.png" />
                    <p> (22) </p>
                </div>
                <div class="product-single__info__price">
                    <p>$32.00</p>
                    <p class="discount">$35.00</p>
                </div>
                <div class="product-single__info__color">
                    <p>Color</p>
                    <p class="product-single__info__color__des">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus porttitor purus, et volutpat sit.
                    </p>
                </div>
                <div class="product-single__info__add-to-cart">
                    <button>
                        <i class="fas fa-shopping-cart"></i>
                        Add To Card
                    </button>
                    <i class="far fa-heart"></i>
                </div>
                <div class="product-single__info__tag">
                    <p>Categories</p>
                    <p>Tags</p>
                    <p class="share">Share 
                        <span><i class="fab fa-facebook" style="color:var(--fb-icon-color)"></i></span> 
                        <span><i class="fab fa-instagram"></i></span> 
                        <span><i class="fab fa-twitter" style="color: #08a0e9"></i></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>