<div class="product-single__description">
    <div class="container">
        <ul class="nav nav-tabs">
            <li ><a data-toggle="tab" class="active" href="#tab1">Description</a></li>
            <li><a data-toggle="tab" href="#tab2">Additional Info</a></li>
            <li><a data-toggle="tab" href="#tab3">Reviews</a></li>
            <li><a data-toggle="tab" href="#tab4">Video</a></li>
          </ul>
    
          <div class="tab-content product-single__description__tabs">
            <div id="tab1" class="tab-pane fade in active show">
              <h3>Varius tempor.</h3>
              <p>Aliquam dis vulputate vulputate integer sagittis. Faucibus dolor ornare faucibus vel sed et eleifend habitasse amet. Montes, mauris varius ac est bibendum. Scelerisque a, risus ac ante. Velit consectetur neque, elit, aliquet. Non varius proin sed urna, egestas consequat laoreet diam tincidunt. Magna eget faucibus cras justo, tortor sed donec tempus. Imperdiet consequat, quis diam arcu, nulla lobortis justo netus dis. Eu in fringilla vulputate nunc nec. Dui, massa viverr .</p>
            <div class="product-single__description__more-details">
                <h3>More details</h3>
                <ul>
                    <li><i class="fas fa-arrow-right"></i> Aliquam dis vulputate vulputate integer sagittis. Faucibus ds diam arcu, nulla lobortis justo netus dis. Eu in fringilla vulputate nunc nec. Dui, massa viverr .</li>
                    <li><i class="fas fa-arrow-right"></i> Aliquam dis vulputate vulputate integer sagittis. Faucibus ds diam arcu, nulla lobortis justo netus dis. Eu in fringilla vulputate nunc nec. Dui, massa viverr .</li>
                    <li><i class="fas fa-arrow-right"></i> Aliquam dis vulputate vulputate integer sagittis. Faucibus ds diam arcu, nulla lobortis justo netus dis. Eu in fringilla vulputate nunc nec. Dui, massa viverr .</li>
                    <li><i class="fas fa-arrow-right"></i> Aliquam dis vulputate vulputate integer sagittis. Faucibus ds diam arcu, nulla lobortis justo netus dis. Eu in fringilla vulputate nunc nec. Dui, massa viverr .</li>

                </ul>
            </div>
            </div>
            <div id="tab2" class="tab-pane fade">
              <h3>Tab 2</h3>
              <p>Content for tab 2.</p>
            </div>
            <div id="tab3" class="tab-pane fade">
              <h3>Tab 3</h3>
              <p>Content for tab 3.</p>
            </div>
            <div id="tab4" class="tab-pane fade">
                <h3>Tab 4</h3>
                <p>Content for tab 4.</p>
              </div>
          </div>
    </div>
</div>