<link rel="stylesheet" type="text/css" href="css/shop_grid_default.css">
<div class="product-single__related">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="shop_grid_default_content">
                    <h3>Ecommerce Acceories & Fashion item</h3>
                </div>
                <div class="shop_grid_default">
                    <h5>About 9,620 results (0.62 seconds)</h5>
                </div>
            </div>
            <div class="col-md-2">
                <div class="shop_grid_default">
                    <span class="shop_grid_default_title">Per Page:</span><input type="text" class="shop_grid_default_input">
                </div>
            </div>
            <div class="col-md-2">
                <div class="shop_grid_default">
                    <span class="shop_grid_default_title">Sort By:</span><input type="text" class="shop_grid_default_input" placeholder="Best Match">
                </div>
            </div>
            <div class="col-md-3">
                <div class="shop_grid_default">
                    <span class="shop_grid_default_title">View:</span><input type="text" class="shop_grid_default_input">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image9.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image1173.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image1165.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/100111.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image9.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image9.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image9.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image9.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image1165.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image1173.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image9.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic" src="/images/shop-grid-default/image9.png">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Product 1</a></h3>
                        <ul class="rating">
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                            <i class="fas fa-circle"></i>
                        </ul>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>