<link rel="stylesheet" type="text/css" href="css/login_form.css">
<div class="container login-page">
	<div class="row justify-content-center">
		<form action="#" class="form">
			<div class="tittle">
				<h1 class="text-center">Login</h1>
				<p class="text-center">Please login using account detail bellow.</p>
			</div>
			<div class="main">
				<input type="email" class="form-control" placeholder="Email Address">
				<input type="password" class="form-control" placeholder="Password">
				<a href="#" class="forgot">Forgot your password?</a>
				<button type="submit" class="form-control btn-submit">Sign In</button>
				<a href="#" class="account">Don’t have an Account?Create account </a>
			</div>
		</form>
	</div>
</div>